h1{
    text-align: center;
    color: purple;
    padding-bottom: 20px ;
}

p{
    font-size:120%;
    padding-bottom: 20px ;
}

.ui.center.aligned.segment.div2{
    background-color:#f7f7f7;
    
}

.ui.massive.button.a{
    background-color:orange;
}